@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*font-family: 'Montserrat', sans-serif;*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*HEADER*/
.header__menu li,
.header__menu a,
.header__menu button,
.header__menu .logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}

.header__menu {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10vw;
    background-color: rgba(0, 0, 0, 0.3);
}

.header__menu .nav_links {
    list-style: none;
}

.header__menu .nav__links li {
    display: inline-block;
    padding: 10px 20px;
}

.header__menu .nav__links li a {
    padding: 5px 5px;
    transition: all 0.5s ease 0s;
}

.header__menu .nav__links li a:hover {
    color: #338ffb;
    background-color: rgba(red, green, blue, alpha);
}

#btnBuyTicket {
    background-color: #ffffff;
    border-radius: 3px;
    outline: none;
    transition: all 0.3s ease 0s;
    padding: 6px 12px;
    color: #338ffb;
}

/* CAROUSEL */
.carousel {
    background-image: url('../Images/background-header.png');
    background-size: cover;
    height: 100vh;
    background-position: center center;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.meeting p {
    padding-left: 60px;
    position: relative;
    font-size: 15px;
}

.meeting p::before {
    content: '';
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 2px;
}

.soi {
    font-size: 100px;
}

.slogan {
    font-size: 20px;
}

.carousel__contact {
    display: none;
}

.carousel__contact i {
    transform: rotate(-90deg);
    margin: 5px;
}

.carousel__scrolldown {
    position: absolute;
    text-align: center;
    bottom: 5%;
    font-size: 10px;
}

.content {
    background-image: url('../Images/backgound-body.png');
    background-size: cover;
}

.livestream__pic {
    width: 100%;
}

#livestream h3 {
    color: rgba(196, 255, 120, 1);
    font-size: 2rem;
}

#livestream {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.5rem;
}

.inputCode {
    padding: 35px 100px 0px 10px;
}

.livestream__inputCode {
    border-radius: 5px;
    border: none;
    padding: 7px 15px;
    margin-bottom: 5px;
    width: 100%;
}

.livestream__inputCode::placeholder {
    color: black;
}

.inputCode .btn-primary {
    margin-top: 15px;
    background-color: rgba(51, 143, 251, 1);
    font-size: 1.5rem;
}

.line {
    height: 1px;
    background-color: rgba(196, 255, 120, 1);
    margin-top: 5%;
    margin: 5% auto;
    width: 80%;
    text-align: center;
}

#buyTicket h3 {
    color: rgba(196, 255, 120, 1);
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.buyTicket__left {
    background-color: rgba(48, 57, 63, 0.7);
    width: 90%;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    margin: 1rem auto;
    padding-top: 40px;
}

.buyTicket__right div {
    margin: 30px auto;
}

.buyTicket__right select {
    margin: 0 auto;
}

.buyTicket__left input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
}

.buyTicket__left input::placeholder {
    padding-left: 15px;
    font-weight: 500;
}

.buyTicket__select {
    width: 60%;
    border-radius: 5px;
    border: none;
    padding: 7px 15px;
    font-size: 1.5rem;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.ticketInfor {
    background-color: #ffffff;
    width: 60%;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.ticketInfor h4,
h1 {
    color: #338ffb;
    font-weight: bold;
}

.ticketInfor h1 {
    font-size: 3rem;
    font-weight: bolder;
    margin: 5px 0;
}

.ticketInfor .btnSignup {
    padding: 5px 4rem;
    background-color: #338ffb;
    font-size: 1.5rem;
    font-weight: bold;
}

.meetingSoi p {
    padding-left: 60px;
    position: relative;
    font-size: 1.5rem;
    color: #338ffb;
}

.meetingSoi p::before {
    content: '';
    display: block;
    background-color: #338ffb;
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 2px;
}

.info-detail,
.meetingSoi {
    color: #ffffff;
    width: 95%;
    margin: 0 auto;
}

.info-detail p {
    text-align: justify;
}

.info_pic img {
    width: 80%;
}

.info_pic {
    display: flex;
    justify-content: center;
}

.info-detail h1 {
    color: #ffffff;
}

h3 {
    padding-top: 50px;
    padding-left: 10px;
}

footer {
    color: #FFFFFF;
    padding: 15px;
    font-size: 0.9rem;
}

.footerIcon i {
    padding: 2px;
}

.footer-line {
    height: 0.2px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 5%;
    margin: 5% auto;
    width: 100%;
    text-align: center;
}

.privacy {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 5px;
    color: gray;
}

@media only screen and (min-width: 768px) {
    .carousel__contact {
        display: block;
        position: absolute;
        transform: rotate(90deg);
        padding: 5px 5px;
        background-color: rgba(91, 91, 91, 0.9);
        border-radius: 8px;
        left: 0.01%;
        padding: 0 15px;
    }

    #buyTicket h3,
    #livestream h3 {
        font-size: 4rem;
    }

    .buyTicket__left {
        margin: 0rem auto;
    }

    .buyTicket__right div {
        margin: 10px auto;
    }

    .info-detail {
        width: 70%;
    }

    .info_pic img {
        width: 75%;
    }

    .lastComponent {
        text-align: right;
    }
}